# Code owners are automatically requested for review when someone opens a
# pull request that modifies code they own.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything not matched by a more specific rule below.
* @CMS-Enterprise/emmy-dev

# Rails application
/app/ @CMS-Enterprise/emmy-dev

# Infrastructure
/infra/ @CMS-Enterprise/emmy-dev
